@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}

.team-area{
    background-color: #009688;
    min-height: 100vh;
    padding: 70px 15px 30px;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.team-area .section-title{
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 70px;
}

.team-area .section-title h3{
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;

}

.team-area .section-title h3{
    font-size: 40px;
    margin: 0;
    color: #ffffff;
    font-weight: 700;

}

.team-area .team-members{
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-area .team-members .member{
    flex-basis: calc(25% - 30px);
    max-width: calc(25% - 30px);
    transition: all .5s ease;
    margin-bottom: 40px;
}

.team-area .team-members .member img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-area h3{
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

.team-area .team-members .member .inside{
    position: relative;
    z-index: 11;
    padding: 0 15px;
}

.team-area .team-members .member .inside .information{
    background-color: #009688;
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-top: -40px;
}

.team-area .team-members .member:hover .information{
    transform: translateY(-20px);
}

.team-area .team-members .member:hover {
    transform: translateY(-10px);
}

.team-area .team-members .member .inside .information h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}


.team-area .mentor-details{
    flex-basis: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-area .mentor-details .mentor img{
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-area .mentor-details .mentor h3{
    font-size: 40px;
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-weight: 700;
}

.team-area .mentor-details .mentor{
    flex-basis: calc(25% - 30px);
    max-width: calc(25% - 30px);
    transition: all .5s ease;
    margin-bottom: 40px;
}

.team-area .mentor-details .mentor .inside{
    position: relative;
    z-index: 11;
    padding: 0 15px;
}

.team-area .mentor-details .mentor .inside .information{
    background-color: #009688;
    text-align: center;
    padding: 20px 15px;
    border-radius: 8px;
    transition: all .5s ease;
    margin-top: -40px;
}

.team-area .mentor-details .mentor:hover .information{
    transform: translateY(-20px);
}

.team-area .mentor-details .mentor:hover {
    transform: translateY(-10px);
}

.team-area .mentor-details .mentor .inside .information h5{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.team-area .team-members .member .inside .information .social{
    padding-top: 15px;
}

.team-area .team-members .member .inside .information .social a{
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #009688;
    border-radius: 50%;
    margin: 0 2px;
    line-height: 32px;
    font-size: 16px;
    transition: all .5s ease;
}

.team-area .team-members .member .inside .information .social a:hover{
    box-shadow: 0 0 10px #000;
}

@media(max-width: 991px){
    .team-area .team-members .member .inside{
        flex-basis: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media(max-width: 767px){
    .team-area .team-members .member .inside{
        flex-basis: calc(100%);
        max-width: calc(100%);
    }
}



